<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.mapper.DeptMapper">


	<!--List<Dept> findList(Dept dept); -->
	<select id="findList" parameterType="dept" resultType="dept">
		SELECT
		*
		FROM dept where 1=1
		<if test="name !=null and name != ''">
			and name like '%${name}%'
		</if>
	</select>

	<!--Integer delete(@Param("id") Integer id); -->
	<delete id="delete" parameterType="Integer">
		DELETE FROM dept WHERE id = #{id}
	</delete>

	<!--dept findById(@Param("id") Integer id); -->
	<select id="findById" parameterType="Integer" resultType="dept">
		SELECT
		*
		FROM dept where id=#{id}
	</select>


	<!--Integer insert(dept hotelType); -->
	<insert id="insert" parameterType="dept">
		INSERT INTO dept (name,
		duty
		)
		VALUES (#{name},
		#{duty}
		)
	</insert>



	<!-- Integer update(lend hotelType); -->
	<update id="update" parameterType="dept">
		UPDATE dept
		<set>
			<if test="name != null">name=#{name},</if>
			<if test="duty != null">duty=#{duty}</if>
		</set>
		WHERE id = #{id}
	</update>



</mapper>