<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.mapper.InfoChartMapper">

	<!--List<Info> findList(); -->

	<select id="findList" resultType="infoChart">
		SELECT a.name,a.type,COUNT(*)
		as value
		from emp a,atten b
		where b.empid=a.id and b.is_use='是'
		GROUP BY
		b.empid
	</select>

</mapper>