
<!DOCTYPE html>
<html>
<head>
<base href="<%=basePath %>" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title></title>
<link th:href="@{/resource/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/resource/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resource/js/bootstrap.min.js}"></script>

<!-- 输入过滤 -->
<script th:src="@{/resource/jquery-validation-1.17.0/lib/jquery.js}"></script>
<script
	th:src="@{/resource/jquery-validation-1.17.0/dist/jquery.validate.js}"></script>
<script
	th:src="@{/resource/jquery-validation-1.17.0/dist/localization/messages_zh.js}"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/resource/My97DatePicker/skin/WdatePicker.css}">
<script type="text/javascript"
	th:src="@{/resource/My97DatePicker/WdatePicker.js}"></script>


<script type="text/javascript">


</script>
<style>
.error {
	color: red;
}
</style>

</head>
<body>
	<div>
		<ul class="breadcrumb" style="margin: 0px;">
			<li>员工</li>
			<li>员工添加</li>
		</ul>
	</div>
	<form action="/admin/addEmp" id="commentForm" class="form-horizontal"
		method="post">
		<h5 class="page-header alert-info"
			style="margin: 0px; padding: 10px; margin-bottom: 10px;">基本信息</h5>

		<!-- 开始1 -->
		<div class="row">
			<div class="col-xs-5">
				<div class="form-group ">
					<label class="col-xs-3 control-label">员工姓名</label>
					<div class="col-xs-9 ">
						<input type="text" required name="name" class="form-control" />
					</div>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="form-group ">
					<label class="col-xs-3 control-label">评级</label>
					<div class="col-xs-9 ">
						<select class="form-control" name="title">
							<option value="优秀">优秀</option>         
							<option value="良好">良好</option>         
							<option value="一般">一般</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<!--结束1 -->

		<!-- 开始1 -->
		<div class="row">
			<div class="col-xs-5">
				<div class="form-group ">
					<label class="col-xs-3 control-label">用户名</label>
					<div class="col-xs-9 ">
						<input type="text" required name="username" class="form-control" />
					</div>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="form-group ">
					<label class="col-xs-3 control-label">密码</label>
					<div class="col-xs-9 ">
						<input type="text" required name="password" class="form-control" />
					</div>
				</div>
			</div>
		</div>
		<!--结束1 -->


		<!-- 开始1 -->
		<div class="row">
			<div class="col-xs-5">
				<div class="form-group ">
					<label class="col-xs-3 control-label">所属部门</label>
					<div class="col-xs-9 ">
						<select class="form-control" name="deptid">
							<option th:each="c:${depts}" th:value="${c.id}"
								th:text="${c.name}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="form-group ">
					<label class="col-xs-3 control-label">类型</label>
					<div class="col-xs-9 ">
						<select class="form-control" name="type">
							<option value="员工">员工</option>         
							<option value="经理">经理</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<!--结束1 -->



		<!-- 开始1 -->
		<div class="row">
			<div class="col-xs-5">
				<div class="form-group ">
					<label class="col-xs-3 control-label">性别</label>
					<div class="col-xs-9 ">
						<select class="form-control" name="sex">
							<option value="男">男</option>         
							<option value="女">女</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<!--结束1 -->



		<div class="row">
			<div class="col-xs-3 col-xs-offset-4">
				<input type="submit" class="btn btn-success" value="保存" /> <input
					type="reset" class="btn btn-danger" value="重置信息" />
			</div>

		</div>

	</form>
</body>
</html>